<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        padding-top: 50px;
      }
    </style>
  </head>
  <body class="container">
    <main>
      <img src="/images/images.jpg" alt="logo" />

      <div class="jumbotron">
        <p><%= quote %></p>
      </div>

      <br />
      <div>
        Repository:
        <a href="https://github.com/Razeral/CFDSArepo1"
          >https://github.com/Razeral/CFDSArepo1</a
        >
      </div>
    </main>
  </body>
</html>
